.radio_group_container{
  position: relative;
  width: 100%;
  font-size: 18px;
  .label{
    display: inline-block;
    width: 100%;
    color: var(--text-main-color);
    font-size: 0.8em;
    padding-bottom: 1em;
    font-weight: 700;
    &::first-letter{
      text-transform: uppercase;
    }
  }
  .elements{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    height: 51px;
  }

}